.react-datepicker {
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(145deg, #5097dd, #dad2d2);
    border: 1px solid #d1d5db;
    border-radius: 1rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(4px);
}

.react-datepicker__year-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 200px !important;
    width: 100%;
}

.react-datepicker__year-text {
    padding: 0.6rem 0.4rem;
    border-radius: 0.5rem;
    background-color: rgba(243, 244, 246, 0.8);
    color: #374151;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
    flex: 1 0 21%;
}

.react-datepicker__year-text:hover {
    background-color: #e0f2fe;
    transform: scale(1.0);
    box-shadow: 0 2px 8px rgb(87, 126, 209);
}

.react-datepicker__year-text--selected {
    background: linear-gradient(135deg, #3f5477, #a8bbe6);
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: transform 0.2s ease, background-color 0.2s ease;

    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border: solid var(--neutral);
        border-width: 2px 2px 0 0;
        transition: border-color 0.2s ease;
    }

    &:focus {
        outline: 2px solid var(--primary);
        outline-offset: 2px;
    }

    &:hover {
        background: var(--primary);
        transform: scale(1.1);

        &::before {
            border-color: var(--background);
        }
    }

    &.react-datepicker__navigation--previous--disabled,
    &.react-datepicker__navigation--next--disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background: transparent;
            transform: none;

            &::before {
                border-color: var(--neutral);
            }
        }
    }
}

.react-datepicker__navigation--previous::before {
    transform: rotate(-135deg);
}

.react-datepicker__navigation--next::before {
    transform: rotate(45deg);
}

@media (max-width: 600px) {
    .react-datepicker__navigation--previous,
    .react-datepicker__navigation--next {
        width: 32px;
        height: 32px;

        &::before {
            width: 8px;
            height: 8px;
            border-width: 1.5px 1.5px 0 0;
        }
    }
}

.react-datepicker__year-text:focus {
    outline: 2px solid #3b82f6;
    outline-offset: 1px;
}
